<ion-header>
  <ion-toolbar color="primary">
    <ng-container *ngIf="!checkboxes">
      <ion-buttons slot="start">
        <ion-button autoHide="false">
          <ion-icon slot="icon-only" name="menu"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title>My contacts</ion-title>
      <ion-buttons slot="end">
        <ion-button (click)="presentPopover(event)">
          <ion-icon name="more"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ng-container>
    <ng-container *ngIf="checkboxes">
      <ion-buttons slot="start">
        <ion-button (click)="clearCheckboxes()">
          <ion-icon slot="icon-only" name="close"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title>Checked: {{ checkedCount }}</ion-title>
      <ion-buttons slot="end">
        <ion-button (click)="checkAll()">
          <ion-icon name="checkbox-outline"></ion-icon>
        </ion-button>
        <ion-button (click)="delArray()">
          <ion-icon slot="icon-only" name="trash"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ng-container>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-searchbar [@SlideLeftRight] placeholder="Search" (ionCancel)="onCancel($event)" (ionInput)="handleInput($event)"></ion-searchbar>

  <h6 [@SlideLeftRight] *ngIf="items && items.length==0" style="text-align: center">No contacts</h6>
  <ng-container *ngFor="let item of items | filterBy:{ lname: searchText, fname: searchText, phone: searchText }">
    <ion-item button [@SlideLeftRight] lines="none" detail="false" (press)="onPress(item)" time="300" [style.touch-action]="'pan-y'" (click)="!checkboxes? presentActionSheet(item) : null">
      <ion-note slot="start" class="avatar-text">{{ item.lname.substring(0,1) }}{{ item.fname.substring(0,1) }}</ion-note>
      <ion-label>

        <ion-row>
          <ion-col size="11" no-padding>
            <h2>{{ item.lname }} {{ item.fname }}</h2>
          </ion-col>
          <ion-col size="1" style="height: 25px;">
            <ion-icon name="cloud-done" *ngIf="item.global"></ion-icon>
          </ion-col>
        </ion-row>
        <p>{{ item.text }}</p>
      </ion-label>

      <ion-checkbox [@SlideLeftRight] slot="end" *ngIf="checkboxes" [(ngModel)]="item.isChecked" (ionChange)="checkChecked(item)"></ion-checkbox>
    </ion-item>
  </ng-container>



  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="primary" (click)="clearCheckboxes()" [routerLink]="['/contacts/', 0]" routerDirection="forward">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
